<!-- header   -->
<nav class="navbar navbar-expand-lg bg-success">
    <div class="d-flex flex-column">
        <div>
            <span class="bi bi-list  text-white mx-4 cursor-pointer"></span>
            <a class="navbar-brand text-white" href="#">Company</a>
        </div>
        <div class="ms-4 mt-2">
            <nav aria-label="breadcrumb ms-4">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-white cursor-pointer" href="#"><a>Company</a></li>
                    <li class="breadcrumb-item text-white cursor-pointer" href="#"><a>{{breadcrumbName}}</a></li>
                </ol>
            </nav>
        </div>
    </div>
</nav>
<!-- <div class="bg-success">
    <xng-breadcrumb class="ms-4 "></xng-breadcrumb>
</div> -->